In [1]:
import sys
import os
path = os.path.abspath(os.path.join('C:\\Users\\user\\', 'Downloads', 'Convert_pdf_file_into_the_excel_file', 'Rule_Setup', 'Accounting_Library'))
sys.path.append(path)

In [2]:
# path

In [3]:
# from A_Rule_Engine.A_1_Ledger_Library import AccountConfiguration
from A_Rule_Engine.A_2_Credit_Note_Journal_Entry import JournalEntryProcessor
import pandas as pd

path ~\Downloads\Convert_pdf_file_into_the_excel_file\Rule_Setup\Accounting_Library\B_Setup\B_1_Ledger_Setup\
account config file generated successfully

In [4]:
entry_df = pd.read_excel(path+'\E_Process_2_Accounting\E_Step_1_Common_Template\Sales_Common_Template.xlsx',engine='openpyxl')
config_df = pd.read_excel(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',engine='openpyxl')

In [5]:
# print(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',)

In [6]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J9 - Description/Narration' : [],
}

In [7]:
journal_entry = JournalEntryProcessor(entry_df,config_df)

In [8]:
journal_entry.process_entries(k)

Sales Return

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

tax igst 12%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

600
tax cgst 12%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

KPMG

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Axis Bank A/c

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  KPMG
Ledger Name kpmg already present
Sales Return
Ledger Name sales return already present
tax igst 5%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

375
tax cgst 5%

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Delloite

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  Delloite
Ledger Name delloite already present
Sales Return
Ledger Name sales return already present
tax igst 28%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

3500
tax cgst 28%

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Capegemini

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  Capegemini
Ledger Name capegemini already present
Sales Return
Ledger Name sales return already present
tax igst 12%
Ledger Name tax igst 12% already present
2100
tax cgst 12%
Ledger Name tax cgst 12% already present
SBI

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  SBI
Ledger Name sbi already present
Sales Return
Ledger Name sales return already present
tax igst 28%
Ledger Name tax igst 28% already present
5600
tax cgst 28%
Ledger Name tax cgst 28% already present
HDFC

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  HDFC
Ledger Name hdfc already present
Sales Return
Ledger Name sales return already present
tax igst 12%
Ledger Name tax igst 12% already present
2400
tax cgst 12%
Ledger Name tax cgst 12% already present
Infosys

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  Infosys
Ledger Name infosys already present
Sales Return
Ledger Name sales return already present
tax igst 12%
Ledger Name tax igst 12% already present
3600
tax cgst 12%
Ledger Name tax cgst 12% already present
IBM

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  IBM
Ledger Name ibm already present
Sales Return
Ledger Name sales return already present
tax igst 18%

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

tax cgst 18%

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Google

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  Google
Ledger Name google already present
Sales Return
Ledger Name sales return already present
tax igst 18%
Ledger Name tax igst 18% already present
tax cgst 18%
Ledger Name tax cgst 18% already present
Meta

Enter C3 (Account Name):  Accounts Payable
Enter C4 (Sub ledger):  Accounts Payable

Ledger Name -  Axis Bank A/c
Ledger Name axis bank a/c already present
Ledger Name -  Meta
Ledger Name meta already present

In [9]:
df = pd.DataFrame(k)
df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J6 - Dr Amount,J7 - Cr Amount,J9 - Description/Narration
0,S001,2024-01-15,AF2223-026868,Sales Return,11200,0,Credit Notes
1,S001,2024-01-15,AF2223-026868,tax igst 12%,0,-600,Credit Notes
2,S001,2024-01-15,AF2223-026868,tax cgst 12%,0,-600,Credit Notes
3,S001,2024-01-15,AF2223-026868,KPMG,0,-10000,Credit Notes
4,S0011,2024-01-15,AF2223-026868,Axis Bank A/c,11200,0,Credit Notes
5,S0011,2024-01-15,AF2223-026868,KPMG,0,-11200,Credit Notes
6,S002,2024-01-17,AF2223-026869,Sales Return,15750,0,Credit Notes
7,S002,2024-01-17,AF2223-026869,tax igst 5%,0,-375,Credit Notes
8,S002,2024-01-17,AF2223-026869,tax cgst 5%,0,-375,Credit Notes
9,S002,2024-01-17,AF2223-026869,Delloite,0,-15000,Credit Notes
10,S0022,2024-01-17,AF2223-026869,Axis Bank A/c,15750,0,Credit Notes
11,S0022,2024-01-17,AF2223-026869,Delloite,0,-15750,Credit Notes
12,S003,2024-01-19,AF2223-026870,Sales Return,32000,0,Credit Notes
13,S003,2024-01-19,AF2223-026870,tax igst 28%,0,-3500,Credit Notes
14,S003,2024-01-19,AF2223-026870,tax cgst 28%,0,-3500,Credit Notes
15,S003,2024-01-19,AF2223-026870,Capegemini,0,-25000,Credit Notes
16,S0033,2024-01-19,AF2223-026870,Axis Bank A/c,32000,0,Credit Notes
17,S0033,2024-01-19,AF2223-026870,Capegemini,0,-32000,Credit Notes
18,S004,2024-01-21,AF2223-026871,Sales Return,39200,0,Credit Notes
19,S004,2024-01-21,AF2223-026871,tax igst 12%,0,-2100,Credit Notes
20,S004,2024-01-21,AF2223-026871,tax cgst 12%,0,-2100,Credit Notes
21,S004,2024-01-21,AF2223-026871,SBI,0,-35000,Credit Notes
22,S0044,2024-01-21,AF2223-026871,Axis Bank A/c,39200,0,Credit Notes
23,S0044,2024-01-21,AF2223-026871,SBI,0,-39200,Credit Notes
24,S005,2024-01-23,AF2223-026872,Sales Return,51200,0,Credit Notes
25,S005,2024-01-23,AF2223-026872,tax igst 28%,0,-5600,Credit Notes
26,S005,2024-01-23,AF2223-026872,tax cgst 28%,0,-5600,Credit Notes
27,S005,2024-01-23,AF2223-026872,HDFC,0,-40000,Credit Notes
28,S0055,2024-01-23,AF2223-026872,Axis Bank A/c,51200,0,Credit Notes
29,S0055,2024-01-23,AF2223-026872,HDFC,0,-51200,Credit Notes
30,S006,2024-01-25,AF2223-026873,Sales Return,44800,0,Credit Notes
31,S006,2024-01-25,AF2223-026873,tax igst 12%,0,-2400,Credit Notes
32,S006,2024-01-25,AF2223-026873,tax cgst 12%,0,-2400,Credit Notes
33,S006,2024-01-25,AF2223-026873,Infosys,0,-40000,Credit Notes
34,S0066,2024-01-25,AF2223-026873,Axis Bank A/c,44800,0,Credit Notes
35,S0066,2024-01-25,AF2223-026873,Infosys,0,-44800,Credit Notes
36,S007,2024-01-27,AF2223-026874,Sales Return,67200,0,Credit Notes
37,S007,2024-01-27,AF2223-026874,tax igst 12%,0,-3600,Credit Notes
38,S007,2024-01-27,AF2223-026874,tax cgst 12%,0,-3600,Credit Notes
39,S007,2024-01-27,AF2223-026874,IBM,0,-60000,Credit Notes
40,S0077,2024-01-27,AF2223-026874,Axis Bank A/c,67200,0,Credit Notes
41,S0077,2024-01-27,AF2223-026874,IBM,0,-67200,Credit Notes
42,S008,2024-01-29,AF2223-026875,Sales Return,177000,0,Credit Notes
43,S008,2024-01-29,AF2223-026875,tax igst 18%,0,-13500,Credit Notes
44,S008,2024-01-29,AF2223-026875,tax cgst 18%,0,-13500,Credit Notes
45,S008,2024-01-29,AF2223-026875,Google,0,-150000,Credit Notes
46,S0088,2024-01-29,AF2223-026875,Axis Bank A/c,177000,0,Credit Notes
47,S0088,2024-01-29,AF2223-026875,Google,0,-177000,Credit Notes
48,S009,2024-01-31,AF2223-026876,Sales Return,212400,0,Credit Notes
49,S009,2024-01-31,AF2223-026876,tax igst 18%,0,-16200,Credit Notes
50,S009,2024-01-31,AF2223-026876,tax cgst 18%,0,-16200,Credit Notes
51,S009,2024-01-31,AF2223-026876,Meta,0,-180000,Credit Notes
52,S0099,2024-01-31,AF2223-026876,Axis Bank A/c,212400,0,Credit Notes
53,S0099,2024-01-31,AF2223-026876,Meta,0,-212400,Credit Notes

In [10]:
file_save_path = 'C:\\Users\\user\\Downloads\\Convert_pdf_file_into_the_excel_file\\Rule_Setup\\Accounting_Library\\E_Process_2_Accounting\\E_Step_2_Journal_Entry\\'
df.to_excel(file_save_path+'Credit_Notes_Journal_Entry_Output.xlsx')