path: Specifies the absolute path to the root directory where the library and other necessary files are located.

In [1]:
import sys
import os
path = os.path.abspath(os.path.join('C:\\Users\\user\\', 'Downloads', 'Convert_pdf_file_into_the_excel_file', 'Rule_Setup', 'Accounting_Library'))
sys.path.append(path)

AccountConfiguration: Module imported from A_Rule_Engine.A_1_Ledger_Library. It  contains configurations related to ledger accounts.

JournalEntryProcessor: Module imported from A_Rule_Engine.A_2_Purchase_Journal_Entry. It is responsible for processing expense journal entries.

In [3]:
# from A_Rule_Engine.A_1_Ledger_Library import AccountConfiguration
from A_Rule_Engine.A_2_Purchase_Journal_Entry import JournalEntryProcessor
import pandas as pd

path ~\Downloads\Convert_pdf_file_into_the_excel_file\Rule_Setup\Accounting_Library\B_Setup\B_1_Ledger_Setup\
account config file generated successfully

entry_df: Reads the common purchase template file located at the specified path into a pandas DataFrame. This  contains purchase journal 
entry data.

config_df: Reads the output ledger library file located at the specified path into a pandas DataFrame. This  contains ledger configurations.

In [5]:
entry_df = pd.read_excel(path+'\E_Process_2_Accounting\E_Step_1_Common_Template\Purchase_Common_Template.xlsx',engine='openpyxl')
config_df = pd.read_excel(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',engine='openpyxl')

Initializes a dictionary k to store processed journal entry data.

In [6]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J9 - Description/Narration' : [],
}

Instantiates a JournalEntryProcessor object with the purchase entry data (entry_df) and ledger configurations (config_df).

In [7]:
journal_entry = JournalEntryProcessor(entry_df,config_df)

Calls the process_entries method of the JournalEntryProcessor object to process the entries and store the results in k.

In [ ]:
journal_entry.process_entries(k)

Entry Number - 0
Ledger Name -  Laptop
Ledger Name laptop already present
Ledger Name -  tax igst 12%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

Ledger Name -  tax cgst 12%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

Ledger Name -  Amazon

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Amazon
Ledger Name amazon already present
Ledger Name -  To Bank

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

==========================================================================

Entry Number - 1
Ledger Name -  Keyboard

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 5%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

Ledger Name -  tax cgst 5%

In [10]:
df = pd.DataFrame(k)
df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J6 - Dr Amount,J7 - Cr Amount,J9 - Description/Narration
0,P001,2024-01-15,AF2223-026868,Laptop,10000,0,purchase
1,P001,2024-01-15,AF2223-026868,tax igst 12%,600,0,purchase
2,P001,2024-01-15,AF2223-026868,tax cgst 12%,600,0,purchase
3,P001,2024-01-15,AF2223-026868,Amazon,0,11200,purchase
4,P0000,2024-01-15,AF2223-026868,Amazon,11200,0,purchase
...,...,...,...,...,...,...,...
133,P0018,2024-02-18,AF2223-026885,tax igst 10%,10000,0,purchase
134,P0018,2024-02-18,AF2223-026885,tax cgst 10%,10000,0,purchase
135,P0018,2024-02-18,AF2223-026885,Best Buy,0,110000,purchase
136,P001717,2024-02-18,AF2223-026885,Best Buy,110000,0,purchase
137,P001818,2024-02-18,AF2223-026885,To Bank,0,110000,purchase

Specifies the file save path for the output file.
    
Saves the processed data DataFrame to an Excel file named

In [11]:
file_save_path = 'C:\\Users\\user\\Downloads\\Convert_pdf_file_into_the_excel_file\\Rule_Setup\\Accounting_Library\\E_Process_2_Accounting\\E_Step_2_Journal_Entry\\'
df.to_excel(file_save_path+'Purchase_Journal_Entry_Output.xlsx')