In [1]:
import sys
import os
path = os.path.abspath(os.path.join('C:\\Users\\user\\', 'Downloads', 'Convert_pdf_file_into_the_excel_file', 'Rule_Setup', 'Accounting_Library'))
sys.path.append(path)

In [2]:
# path

In [3]:
# from A_Rule_Engine.A_1_Ledger_Library import AccountConfiguration
from A_Rule_Engine.A_2_Debit_Notes_Journal_Entry import JournalEntryProcessor
import pandas as pd

In [4]:
entry_df = pd.read_excel(path+'\E_Process_2_Accounting\E_Step_1_Common_Template\Debit_Note_Common_Template.xlsx',engine='openpyxl')
config_df = pd.read_excel(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',engine='openpyxl')

In [5]:
# print(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',)

In [6]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J9 - Description/Narration' : [],
}

In [7]:
journal_entry = JournalEntryProcessor(entry_df,config_df)

In [8]:
journal_entry.process_entries(k)

Entry Number - 0
Ledger Name -  Amazon

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Purchase Return

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Bank A/c

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Amazon
Ledger Name amazon already present
==========================================================================

Entry Number - 1
Ledger Name -  Flipkart

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 5%
Ledger Name tax igst 5% already present
Ledger Name -  tax cgst 5%
Ledger Name tax cgst 5% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  Flipkart
Ledger Name flipkart already present
==========================================================================

Entry Number - 2
Ledger Name -  One Mg

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name -  tax cgst 28%
Ledger Name tax cgst 28% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  One Mg
Ledger Name one mg already present
==========================================================================

Entry Number - 3
Ledger Name -  Reliance digital

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  Reliance digital
Ledger Name reliance digital already present
==========================================================================

Entry Number - 4
Ledger Name -  Croma

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name -  tax cgst 28%
Ledger Name tax cgst 28% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  Croma
Ledger Name croma already present
==========================================================================

Entry Number - 5
Ledger Name -  Usha

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  Usha
Ledger Name usha already present
==========================================================================

Entry Number - 6
Ledger Name -  Whirlpool

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  Whirlpool
Ledger Name whirlpool already present
==========================================================================

Entry Number - 7
Ledger Name -  LG

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name -  tax cgst 18%
Ledger Name tax cgst 18% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  LG
Ledger Name lg already present
==========================================================================

Entry Number - 8
Ledger Name -  Sony

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name -  tax cgst 18%
Ledger Name tax cgst 18% already present
Ledger Name -  Purchase Return
Ledger Name purchase return already present
Ledger Name -  Bank A/c
Ledger Name bank a/c already present
Ledger Name -  Sony
Ledger Name sony already present
==========================================================================

In [12]:
df = pd.DataFrame(k)
df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J6 - Dr Amount,J7 - Cr Amount,J9 - Description/Narration
0,D001,2024-01-15,AF2223-026868,Amazon,10000,0,Debit Notes
1,D001,2024-01-15,AF2223-026868,tax igst 12%,600,0,Debit Notes
2,D001,2024-01-15,AF2223-026868,tax cgst 12%,600,0,Debit Notes
3,D001,2024-01-15,AF2223-026868,Purchase Return,0,11200,Debit Notes
4,D0011,2024-01-15,AF2223-026868,Bank A/c,11200,0,Debit Notes
5,D0011,2024-01-15,AF2223-026868,Amazon,0,11200,Debit Notes
6,D002,2024-01-17,AF2223-026869,Flipkart,15000,0,Debit Notes
7,D002,2024-01-17,AF2223-026869,tax igst 5%,375,0,Debit Notes
8,D002,2024-01-17,AF2223-026869,tax cgst 5%,375,0,Debit Notes
9,D002,2024-01-17,AF2223-026869,Purchase Return,0,15750,Debit Notes
10,D0022,2024-01-17,AF2223-026869,Bank A/c,15750,0,Debit Notes
11,D0022,2024-01-17,AF2223-026869,Flipkart,0,15750,Debit Notes
12,D003,2024-01-19,AF2223-026870,One Mg,25000,0,Debit Notes
13,D003,2024-01-19,AF2223-026870,tax igst 28%,3500,0,Debit Notes
14,D003,2024-01-19,AF2223-026870,tax cgst 28%,3500,0,Debit Notes
15,D003,2024-01-19,AF2223-026870,Purchase Return,0,32000,Debit Notes
16,D0033,2024-01-19,AF2223-026870,Bank A/c,32000,0,Debit Notes
17,D0033,2024-01-19,AF2223-026870,One Mg,0,32000,Debit Notes
18,D004,2024-01-21,AF2223-026871,Reliance digital,35000,0,Debit Notes
19,D004,2024-01-21,AF2223-026871,tax igst 12%,2100,0,Debit Notes
20,D004,2024-01-21,AF2223-026871,tax cgst 12%,2100,0,Debit Notes
21,D004,2024-01-21,AF2223-026871,Purchase Return,0,39200,Debit Notes
22,D0044,2024-01-21,AF2223-026871,Bank A/c,39200,0,Debit Notes
23,D0044,2024-01-21,AF2223-026871,Reliance digital,0,39200,Debit Notes
24,D005,2024-01-23,AF2223-026872,Croma,40000,0,Debit Notes
25,D005,2024-01-23,AF2223-026872,tax igst 28%,5600,0,Debit Notes
26,D005,2024-01-23,AF2223-026872,tax cgst 28%,5600,0,Debit Notes
27,D005,2024-01-23,AF2223-026872,Purchase Return,0,51200,Debit Notes
28,D0055,2024-01-23,AF2223-026872,Bank A/c,51200,0,Debit Notes
29,D0055,2024-01-23,AF2223-026872,Croma,0,51200,Debit Notes
30,D006,2024-01-25,AF2223-026873,Usha,40000,0,Debit Notes
31,D006,2024-01-25,AF2223-026873,tax igst 12%,2400,0,Debit Notes
32,D006,2024-01-25,AF2223-026873,tax cgst 12%,2400,0,Debit Notes
33,D006,2024-01-25,AF2223-026873,Purchase Return,0,44800,Debit Notes
34,D0066,2024-01-25,AF2223-026873,Bank A/c,44800,0,Debit Notes
35,D0066,2024-01-25,AF2223-026873,Usha,0,44800,Debit Notes
36,D007,2024-01-27,AF2223-026874,Whirlpool,60000,0,Debit Notes
37,D007,2024-01-27,AF2223-026874,tax igst 12%,3600,0,Debit Notes
38,D007,2024-01-27,AF2223-026874,tax cgst 12%,3600,0,Debit Notes
39,D007,2024-01-27,AF2223-026874,Purchase Return,0,67200,Debit Notes
40,D0077,2024-01-27,AF2223-026874,Bank A/c,67200,0,Debit Notes
41,D0077,2024-01-27,AF2223-026874,Whirlpool,0,67200,Debit Notes
42,D008,2024-01-29,AF2223-026875,LG,150000,0,Debit Notes
43,D008,2024-01-29,AF2223-026875,tax igst 18%,13500,0,Debit Notes
44,D008,2024-01-29,AF2223-026875,tax cgst 18%,13500,0,Debit Notes
45,D008,2024-01-29,AF2223-026875,Purchase Return,0,177000,Debit Notes
46,D0088,2024-01-29,AF2223-026875,Bank A/c,177000,0,Debit Notes
47,D0088,2024-01-29,AF2223-026875,LG,0,177000,Debit Notes
48,D009,2024-01-31,AF2223-026876,Sony,180000,0,Debit Notes
49,D009,2024-01-31,AF2223-026876,tax igst 18%,16200,0,Debit Notes
50,D009,2024-01-31,AF2223-026876,tax cgst 18%,16200,0,Debit Notes
51,D009,2024-01-31,AF2223-026876,Purchase Return,0,212400,Debit Notes
52,D0099,2024-01-31,AF2223-026876,Bank A/c,212400,0,Debit Notes
53,D0099,2024-01-31,AF2223-026876,Sony,0,212400,Debit Notes

In [13]:
file_save_path = 'C:\\Users\\user\\Downloads\\Convert_pdf_file_into_the_excel_file\\Rule_Setup\\Accounting_Library\\E_Process_2_Accounting\\E_Step_2_Journal_Entry\\'
df.to_excel(file_save_path+'Debit_Notes_Journal_Entry_Output.xlsx')