In [1]:
from Accountant import AccountConfiguration
from Journal_Entry import JournalEntryProcessor
import pandas as pd

In [2]:
entry_df = pd.read_excel('p_3.xlsx',engine='openpyxl')
config_df = pd.read_excel('main_df_p.xlsx',engine='openpyxl')

In [3]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J5 - Opening Balance' :[],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J8 - Closing Balance' : [],
    'J9 - Description/Narration' : [],
}

In [4]:
journal_entry = JournalEntryProcessor(entry_df,config_df)

In [5]:
journal_entry.process_entries(k)

Entry Number - 0
Ledger Name -  Laptop
Ledger Name laptop already present
Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  To Amazon
Ledger Name to amazon already present
Ledger Name -  Amazon

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

==========================================================================

Entry Number - 1
Ledger Name -  Keyboard

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 5%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

Ledger Name -  tax cgst 5%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

Ledger Name -  To Flipkart

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Flipkart

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 2
Ledger Name -  Oxometer

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 28%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  Taxes

Ledger Name -  tax cgst 28%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To One Mg

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  One Mg

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 3
Ledger Name -  Cooler

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  To Reliance digital

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Reliance digital

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 4
Ledger Name -  AC

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name -  tax cgst 28%
Ledger Name tax cgst 28% already present
Ledger Name -  To Croma

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Croma

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 5
Ledger Name -  FAn

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  To Usha

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Usha

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 6
Ledger Name -  Fridge

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  To Whirlpool

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Whirlpool

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 7
Ledger Name -  TV

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 18%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  Taxes

Ledger Name -  tax cgst 18%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To LG

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  LG

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 8
Ledger Name -  Music System

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name -  tax cgst 18%
Ledger Name tax cgst 18% already present
Ledger Name -  To Sony

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Sony

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

In [7]:
df = pd.DataFrame(k)
df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J5 - Opening Balance,J6 - Dr Amount,J7 - Cr Amount,J8 - Closing Balance,J9 - Description/Narration
0,P000,2024-01-15,AF2223-026868,Laptop,0,10000,0,10000,purchase
1,P000,2024-01-15,AF2223-026868,tax igst 12%,0,600,0,600,purchase
2,P000,2024-01-15,AF2223-026868,tax cgst 12%,0,600,0,600,purchase
3,P000,2024-01-15,AF2223-026868,To Amazon,0,0,11200,11200,purchase
4,P0000,2024-01-15,AF2223-026868,Amazon,0,11200,0,11200,purchase
5,P0000,2024-01-15,AF2223-026868,To Bank,0,0,11200,11200,purchase
6,P001,2024-01-17,AF2223-026869,Keyboard,0,15000,0,15000,purchase
7,P001,2024-01-17,AF2223-026869,tax igst 5%,0,375,0,375,purchase
8,P001,2024-01-17,AF2223-026869,tax cgst 5%,0,375,0,375,purchase
9,P001,2024-01-17,AF2223-026869,To Flipkart,0,0,15750,15750,purchase
10,P0011,2024-01-17,AF2223-026869,Flipkart,0,15750,0,15750,purchase
11,P0011,2024-01-17,AF2223-026869,To Bank,0,0,15750,15750,purchase
12,P002,2024-01-19,AF2223-026870,Oxometer,0,25000,0,25000,purchase
13,P002,2024-01-19,AF2223-026870,tax igst 28%,0,3500,0,3500,purchase
14,P002,2024-01-19,AF2223-026870,tax cgst 28%,0,3500,0,3500,purchase
15,P002,2024-01-19,AF2223-026870,To One Mg,0,0,32000,32000,purchase
16,P0022,2024-01-19,AF2223-026870,One Mg,0,32000,0,32000,purchase
17,P0022,2024-01-19,AF2223-026870,To Bank,0,0,32000,32000,purchase
18,P003,2024-01-21,AF2223-026871,Cooler,0,35000,0,35000,purchase
19,P003,2024-01-21,AF2223-026871,tax igst 12%,0,2100,0,2100,purchase
20,P003,2024-01-21,AF2223-026871,tax cgst 12%,0,2100,0,2100,purchase
21,P003,2024-01-21,AF2223-026871,To Reliance digital,0,0,39200,39200,purchase
22,P0033,2024-01-21,AF2223-026871,Reliance digital,0,39200,0,39200,purchase
23,P0033,2024-01-21,AF2223-026871,To Bank,0,0,39200,39200,purchase
24,P004,2024-01-23,AF2223-026872,AC,0,40000,0,40000,purchase
25,P004,2024-01-23,AF2223-026872,tax igst 28%,0,5600,0,5600,purchase
26,P004,2024-01-23,AF2223-026872,tax cgst 28%,0,5600,0,5600,purchase
27,P004,2024-01-23,AF2223-026872,To Croma,0,0,51200,51200,purchase
28,P0044,2024-01-23,AF2223-026872,Croma,0,51200,0,51200,purchase
29,P0044,2024-01-23,AF2223-026872,To Bank,0,0,51200,51200,purchase
30,P005,2024-01-25,AF2223-026873,FAn,0,40000,0,40000,purchase
31,P005,2024-01-25,AF2223-026873,tax igst 12%,0,2400,0,2400,purchase
32,P005,2024-01-25,AF2223-026873,tax cgst 12%,0,2400,0,2400,purchase
33,P005,2024-01-25,AF2223-026873,To Usha,0,0,44800,44800,purchase
34,P0055,2024-01-25,AF2223-026873,Usha,0,44800,0,44800,purchase
35,P0055,2024-01-25,AF2223-026873,To Bank,0,0,44800,44800,purchase
36,P006,2024-01-27,AF2223-026874,Fridge,0,60000,0,60000,purchase
37,P006,2024-01-27,AF2223-026874,tax igst 12%,0,3600,0,3600,purchase
38,P006,2024-01-27,AF2223-026874,tax cgst 12%,0,3600,0,3600,purchase
39,P006,2024-01-27,AF2223-026874,To Whirlpool,0,0,67200,67200,purchase
40,P0066,2024-01-27,AF2223-026874,Whirlpool,0,67200,0,67200,purchase
41,P0066,2024-01-27,AF2223-026874,To Bank,0,0,67200,67200,purchase
42,P007,2024-01-29,AF2223-026875,TV,0,150000,0,150000,purchase
43,P007,2024-01-29,AF2223-026875,tax igst 18%,0,13500,0,13500,purchase
44,P007,2024-01-29,AF2223-026875,tax cgst 18%,0,13500,0,13500,purchase
45,P007,2024-01-29,AF2223-026875,To LG,0,0,177000,177000,purchase
46,P0077,2024-01-29,AF2223-026875,LG,0,177000,0,177000,purchase
47,P0077,2024-01-29,AF2223-026875,To Bank,0,0,177000,177000,purchase
48,P008,2024-01-31,AF2223-026876,Music System,0,180000,0,180000,purchase
49,P008,2024-01-31,AF2223-026876,tax igst 18%,0,16200,0,16200,purchase
50,P008,2024-01-31,AF2223-026876,tax cgst 18%,0,16200,0,16200,purchase
51,P008,2024-01-31,AF2223-026876,To Sony,0,0,212400,212400,purchase
52,P0088,2024-01-31,AF2223-026876,Sony,0,212400,0,212400,purchase
53,P0088,2024-01-31,AF2223-026876,To Bank,0,0,212400,212400,purchase

In [ ]:
df.to_excel('purchase.xlsx')